<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="resources/css/styles.css"  />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="logo">
          <div id="logo-img"></div>
          <div id="logo-name">My Library</div>
        </div>
        <div id="menu">
          <ul>
            <li><a class="active" href="default.asp">Home</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li><a href="about.asp">About</a></li>
          </ul>
        </div>
      </div>
      <div id="content">
        <th:block th:each="book : ${books}">
          <a th:href="@{/book(id=${book.id})}">
              <div class="shell">
                <img src="../../resources/img/book-template2.png" width="200px" />
                <span class="book-title" th:text="${book.title}">></span>
                <span class="book-author" th:text="${book.author}"></span>
              </div>
          </a>
        </th:block>
      </div>
    </div>
  </body>
</html>
